[Desktop Entry]
Name=Calc
Exec=rofi -show calc -modi calc -no-show-match -no-sort -calc-command "xdotool type '{result}'"
Type=Application
Terminal=false
